<h2>Favorite films</h2>
<div class="films-box">
  <ul>
    <li *ngFor="let film of movies">
      <img
        class="img"
        routerLink="/detail/{{ film.id }}"
        src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}"
        alt=""
      />
      <div class="discription">
        <div>Name - {{ film.title }}</div>
        <div>IMDB - {{ film.id }}</div>
        <div>Release - {{ film.release_date }}</div>
        <div>Rate - {{ film.vote_average }}</div>
      </div>
    </li>
  </ul>
</div>
<ng-template #loadingMessage> Data loading....</ng-template>
